@import "tailwindcss";

@keyframes dots {

  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }

  80%,
  100% {
    content: "";
  }
}

.dots::after {
  content: "";
  display: inline-block;
  animation: dots 3s infinite steps(1);
}